/*aqui empezamos la configuracion de los titulos nivel 3*/
h3 {
    text-align: right;
    background-color: blue;
}

div h3 {
    text-align: center;
    text-transform: uppercase;
    color: lightblue;
}

div p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}

/*aqui comienzo la configuracion de los textos con estilo*/
.destacado1 {
    text-decoration: overline;
}

.destacado2 {
    text-decoration: line-through;
}

.destacado3 {
    text-decoration: underline;
}

/*aqui comienza la configuracion de los 3 formateos de parrafos*/
.p1 {
    font-family: Arial, Helvetica, sans-serif;
}

p.oblicuo {
    text-align: right;
    font-style: italic;
}

p.size {
    font-size: 25px;
}

/*aqui comienza la configuracion de la lista ordenada*/
ol {
    background: #003300;
    padding: 20px;
}

ol li {
    background: #ffff99;
    padding: 5px;
    margin-left: 35px;
}